<% provide(:title, "About") %>
<h1>Om oss</h1>
<p>
  Den <a href="http://gameelite.se/"><em> gamla Gameelite sidan</em></a> is 
  <a href="http://www.gameelite.se/">här</a> och
  <a href="http://gameelite.se/">här</a>
  Den här appen är skapad med hjälp av Ruby on Rails
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>


