<div class="center jumbotron">
  <h1>Välkommen till Nya Gameelite's Test-app</h1>
</div>

<h1>Senaste recensionerna</h1>

<% @articles.each do |article| %>
  <p>
  <span class="content"><%= link_to article.title, article %></span>
  <span class="content"><%= article.content[0,250] %>...</span>
  </p>
  <hr/>
<% end %>

<%= will_paginate @articles %>
