<footer class="footer">
  <small>
    The <a href="http://www.gameelite.se/">Gameelite Testapp</a>
    by <a href="http://www.gameelite.se/">Sannie Jönsson</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.gameelite.se/">News</a></li>
    </ul>
  </nav>
</footer>

